/*HEADER****************************************************************************************************************/
body, html {
  font-family: 'Inconsolata', monospace;
  background-image: url('../wg_various_paper_textures_9.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: black;
  height: 100%;
  width: 100%;
}
#main {
  padding-bottom: 5rem;
}
header nav {
  color: white;
  text-align: right;
  margin-right: 1em;
  font-size: 130%;
}
.class-hyperlink {
  color: black;
  text-decoration: none;
}
#big-banner {
  background: url('../Coffee.jpeg');
  background-size: cover;
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}
#big-banner h1 {
  font-size: 500%;
  font-family: 'Pacifico', cursive;
  color: black;
  text-align: center;
  margin-top: 10px;
}
/*LIKS****************************************************************************************************************/
.social-links {
  padding-bottom: 0.5em;
  text-align: center;
}
.git-link {
  color: black;
  padding: 2em;
}
.git-link:hover {
  color: lightgray;
}
.linkedin-link {
  color: black;
  padding: 2em;
}
.linkedin-link:hover {
  color: lightgray;
}
.twitter-link {
  color: black;
  padding: 2em;
  padding-right: 1.5em;
}
.twitter-link:hover {
  color: lightgray;
}
.social-links {
  display:block;
  border-bottom:0.2em solid black;
  border-radius: 40%;
}
/*MAIN-CONTENT****************************************************************************************************************/
.main-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 0rem;
  padding-top: 4rem;
  align-items: center;
}
/*PROFILE PIC****************************************************************************************************************/
.portfolio-picture {
  border-radius: 50%;
  border: solid black .40rem;
  padding-bottom: 0rem;
  width: 95%;
  max-width: 25em;
  margin: 0 auto;
}
/*WORK****************************************************************************************************************/
.work-location {
  text-align: center;
}
.work-heading {
  color: black;
  font-size: 300%;
  text-align: center;
}
#gear-gui{
  color: #0D47A1;
}
.work-paragraph {
  color: black;
  font-size: 1.5em;
  border: none;
}
/*LANGUAGE****************************************************************************************************************/
.language-location {
  text-align: center;
}
.language-heading {
  color: black;
  font-size: 300%;
}
#language-gui {
  color: #0D47A1;
}
.language-paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding-top: 1rem;
  border: none;
}
#css-img {
  height: auto;
  max-width: 120px;
  width: 25%;
  padding-bottom: 2em;
}
#ruby-img {
  height: auto;
  max-width: 170px;
  width: 35%;
  padding-bottom: 2em;
}
#html-img {
  height: auto;
  max-width: 177px;
  width: 35%;
  padding-bottom: 2em;
}
/*ABOUT****************************************************************************************************************/
.about-location {
  text-align: center;
}
.about-heading {
  color: black;
  font-size: 300%;
  text-align: center;
}
#user-gui{
  color: #0D47A1;
}
.about-paragraph {
  color: black;
  font-size: 1.5em;
  border: none;
}
/*PROJECTS****************************************************************************************************************/
.projects-heading {
  text-align: center;
  font-size: 300%;
  color: black;
}
.projects-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  border-top: solid black;
  background: rgba(0, 0, 0, .3);
  padding-top: 2rem;
}
.gui-hyperlink {
  padding-right: 3rem;
  color: black;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}
.project-gui {
  font-size: 150%;
}

.gui-hyperlink:hover {
  color: lightgray;
}
/*FOOTER****************************************************************************************************************/
footer {
  position: relative;
  height: 10rem;
  clear: both;
  border-top: black solid;
  opacity: 75;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 5rem;
}
#contact-me {
  padding-top: 2rem;
  font-size: 160%;
}
#phone {
  font-size: 130%;
}
#email {
  font-size: 130%;
  padding-top: 2rem;
}

@media only screen and (min-width: 1200px) {

  /*SOCIAL****************************************************************************************************************/

  .git-link {
    padding: 4em;
  }
  .linkedin-link {
    padding: 4em;
  }
  .twitter-link {
    padding: 4em;
  }
  /*MAIN****************************************************************************************************************/

  .main-content {
    display: block;
    align-items: center;
  }
  .portfolio-picture {
    margin: 0 auto;
    display: block;
  }
  /*WORK****************************************************************************************************************/

  .work-experience {
    width: 50%;
    float: right;
    margin-right: 2rem;
  }
  .work-paragraph {
    float: right;
  }
  /*LANGUAGE****************************************************************************************************************/

  .language-location {
    width: 45%;
    margin-top: 15rem;
    padding-top:0;
  }
  .language-paragraph {
    display: block;
    float: left;
    height: auto;
    position: relative;
  }
  #css-img {
    padding-left: 3rem;
  }

  #ruby-img {
    padding-left: 10em;
  }
  #html-img {
    padding-left: 3rem;
  }
  /*ABOUT****************************************************************************************************************/

  .about-location {
    float: right;
    width: 50%;
    padding-top: 5rem;
    margin-right: 2rem;
  }
  /*PROJECTS****************************************************************************************************************/
  .projects-heading-container {
    margin-top: 20rem;
    display: block;
    padding-top: 10rem;
  }
}

@media only screen and (max-width: 370px) {

  .git-link {
    color: black;
    padding: 1em;
  }
  .linkedin-link {
    color: black;
    padding: 1em;
  }
  .twitter-link {
    color: black;
    padding: 1em;
    padding-right: 1.5em;
  }

}
